vmaccepteula
install --disk=t10.NVMe____Samsung_SSD_980_500GB___________________7F17A051D3382500 --overwritevmfs
reboot

network --bootproto=static --vlanid=30 --ip=172.30.0.10 --netmask=255.255.255.0 --gateway=172.30.0.1 --hostname=esx01.vcf.lab --nameserver=172.30.0.2 --addvmportgroup=1
rootpw VMware1!

%firstboot --interpreter=busybox

NVME_TIERING_DEVICE="t10.NVMe____Samsung_SSD_990_PRO_4TB_________________72A9415145382500"
VMFS_DATASTORE_NAME="local-vmfs-datastore-1"
NTP_SERVER=pool.ntp.org
SSH_ROOT_KEY=""
MANAGEMENT_VLAN=30
MANAGEMENT_VSWITCH_MTU=9000

# Ensure hostd is ready
while ! vim-cmd hostsvc/runtimeinfo; do
sleep 10
done

# enable & start SSH
vim-cmd hostsvc/enable_ssh
vim-cmd hostsvc/start_ssh

# enable & start ESXi Shell
vim-cmd hostsvc/enable_esx_shell
vim-cmd hostsvc/start_esx_shell

# Suppress ESXi Shell warning
esxcli system settings advanced set -o /UserVars/SuppressShellWarning -i 1

# Configure NTP
esxcli system ntp set -e true -s $NTP_SERVER

# Rename local VMFS datastore
vim-cmd hostsvc/datastore/rename datastore1 ${VMFS_DATASTORE_NAME}

# Enable & Configure NVMe Tiering
esxcli system settings kernel set -s MemoryTiering -v TRUE
esxcli system settings advanced set -o /Mem/TierNvmePct -i 100
esxcli system tierdevice create -d /vmfs/devices/disks/${NVME_TIERING_DEVICE}

/bin/generate-certificates

# Workaround required for AMD Ryzen-based CPU
echo 'monitor_control.disable_apichv ="TRUE"' >> /etc/vmware/config

# Install vSAN ESA Mock VIB
esxcli network firewall ruleset set -e true -r httpClient
esxcli software acceptance set --level CommunitySupported
esxcli software vib install -v https://github.com/lamw/nested-vsan-esa-mock-hw-vib/releases/download/1.0/nested-vsan-esa-mock-hw.vib --no-sig-check
esxcli network firewall ruleset set -e false -r httpClient

# Configure SSH keys if provided
if [ -n "${SSH_ROOT_KEY}" ]; then
    echo "${SSH_ROOT_KEY}" > /etc/ssh/keys-root/authorized_keys
fi

# Configure VM Network VLAN & MTU
esxcli network vswitch standard portgroup set -p "VM Network" -v ${MANAGEMENT_VLAN}
esxcli network vswitch standard set -m ${MANAGEMENT_VSWITCH_MTU} -v vSwitch0

reboot
